[2017-06-25 11:18] joelchen opened #3 "Document Hardening Items"
Would be good to have a list of items and descriptions for all hardening performed in the script documented in README or Wiki.

[2017-06-26 17:31] konstruktoid commented on #3
Thanks for the comment @joelchen, I'll work on the documentation as soon as possible.

[2017-07-03 13:01] konstruktoid commented on #3
Better late than never.
@joelchen, any improvements?

[2017-07-04 04:08] joelchen commented on #3
@konstruktoid Yes, I see some improvements, thank you. Further improvements could be made for description or link to website of the softwares that are installed or removed, and because running this script caused my system in Docker to fail because of UFW and AppArmor, document additional steps to remedy this problem.

[2017-07-04 07:18] konstruktoid commented on #3
@joelchen I'll add reference links.
But why would you run this in a Docker container?

[2017-07-11 14:22] joelchen commented on #3
@konstruktoid I run this on Ubuntu servers, and Docker is installed on Ubuntu servers for running applications. There are problems with Docker containers when UFW and AppArmor are enabled.

[2017-07-12 08:07] konstruktoid commented on #3
So do I @joelchen, and yes, there have been issues with Docker and UFW/AppArmor but UFW and AppArmor affects all system services and often requires modifications.

[2017-07-16 20:36] pascalandy commented on #3
Same use case as @joelchen here.

[2017-07-16 21:15] pascalandy opened #4 "Configure TimeZone"
Hi,
I think it would make sense to add a TIME_DATE flag in ubuntu.cfg

In my specific case it would be:

[code]

### In my setup I use this:
[code]

[2017-07-20 19:45] pascalandy opened #5 "Too many authentication failures"
Hi,

Everything looks to install normally. I use Packet.net. When I reboot and log (via SSH of course) I get this error:

I guess there is some rule that are too severe. I looked at the scripts but didn't see how I could fix this.

Thank you!

[2017-07-20 21:57] pascalandy commented on #5
Looks like https://github.com/konstruktoid/hardening/blob/master/ubuntu.sh#L24 should call https://github.com/konstruktoid/hardening/blob/master/scripts/02_ufw

Curious to know why the names are different.

[2017-08-04 21:02] konstruktoid commented on #5
Thanks for the report @pascalandy and sorry for such a late reply, but `f_firewall` is present as `function f_firewall` in https://github.com/konstruktoid/hardening/blob/master/scripts/02_ufw. Regarding the naming; functions can't be  numbrs, since it's not a valid identifier.

Please increase `MaxAuthTries` (https://github.com/konstruktoid/hardening/blob/master/scripts/18_sshdconfig#L25-L29)  and

[2017-08-04 21:06] konstruktoid commented on #4
Thanks again @pascalandy, I'll add `TIMEDATECTL` later on, but I'm not sure installing `ntp` is necessary since I'll focusing on using `systemd` functions as often as possible.

[2017-08-04 21:13] konstruktoid commented on #3
Thanks and again sorry for the late reply, vacation and such.
I understand this tries to assist in configuring `UFW` and `Docker` but opening all above ports is unnecessary and you'll need to configure an "Docker network" in additional to the present `FW_ADMIN` option.

[2017-09-04 22:19] pascalandy commented on #5
I'm actually provisioning new machines.
I think you should use branches to develop feature and ensure master is always your golden copy :)

[2017-09-04 22:40] pascalandy commented on #5
Same story

[code]

I also saw few error when the scripts started:

[code]

Cheers!

[2017-09-04 22:41] pascalandy commented on #5
Damm, I would love to use your template as I really like the way everything is structured!

Keep up the good work!

[2017-09-05 07:22] konstruktoid commented on #5
Hi again @pascalandy, I find it odd you're missing `nf_conntrack/parameters/hashsize` and `dmidecode`. Could you provide more details about the machines you are provisioning?

And regarding branches; you're absolutely right, I've just been lazy when it comes to my own repositories. Will start a develop branch right away.

[2017-09-05 08:45] konstruktoid commented on #5
Using the Vagrantfile for testing, I'm not having any issues with `nf_conntrack/parameters/hashsize` or `dmidecode` on Xenial, Zesty, or Yakkety.

[2017-09-05 11:02] pascalandy commented on #5
I know there is always little subtle differences between cloud providers that break my scripts. I'm not using Ansible or Terraform at this point.

As I said, I provision bare-metal server on packet.net (type 0). If you want, I would be glad to do a live session with. We we could provision machines on the spot and test till we find the issue.

I use a standard Ubuntu 16.04 fresh install each time.

[2017-09-05 14:04] konstruktoid commented on #5
Adding test if `nf_conntrack/parameters/hashsize` or `dmidecode` are missing.
Just to verify, can you check if the `nf_conntrack` kernel module is loaded?

[2017-09-05 19:24] konstruktoid commented on #5
Tests added and dmidecode replaced with dmesg; https://github.com/konstruktoid/hardening/commit/e5d51ab15ba02bdf0c93ee68797a3f5299a4aa8b

[2017-09-06 01:01] pascalandy commented on #5
Not sure if I should do something here.

[2017-09-06 06:37] konstruktoid commented on #5
Any failures after https://github.com/konstruktoid/hardening/commit/e5d51ab15ba02bdf0c93ee68797a3f5299a4aa8b?
And `nf_conntrack/parameters/hashsize` is only present if the `nf_conntrack` module is loaded.

[2017-09-06 12:03] pascalandy commented on #5
OK will try !

[2017-09-06 15:48] pascalandy commented on #5
Same error. Btw I use root to login. Is it ok?

[code]

[2017-09-07 07:28] konstruktoid commented on #5
No, `root` is not allowed to log in.
https://github.com/konstruktoid/hardening/blob/master/scripts/18_sshdconfig#L11

[2017-09-07 13:10] pascalandy commented on #5
Ok. In this case, which user should I use?

[2017-09-07 13:30] konstruktoid commented on #5
It's all about how you provision your servers, `root` should never be allowed to login and can be locked (https://github.com/konstruktoid/hardening/blob/master/scripts/36_lockroot), create a user and use `sudo` to gain superuser privileges instead. If not possible, change `PermitRootLogin` to `yes` in the sshd-config file and unlock the `root` user.

[2017-09-07 13:41] pascalandy commented on #5
Alright, I thought this project was creating a new user somewhere along the line. So all my

Received disconnect from 123.123.123.12: 2: Too many authentication failures

maybe due to the fact I was using root :-p  Will let you know !

[2017-09-10 03:09] rmurillo21 opened #8 "Support for EC2?"
Looks great.  Any reason this would not work on an AWS EC2 instance? I noticed Grub/bootloading not sure how that would work on a virtual server. Thanks

[2017-09-11 07:41] konstruktoid commented on #8
Hi @rmurillo21, I don't have an EC2 to test it on for the moment, but the only changes that are made relating to GRUB is https://github.com/konstruktoid/hardening/blob/master/scripts/22_auditd#L8 and that shouldn't break anything.

[2017-09-11 14:09] rmurillo21 commented on #8
Thanks.   I will try it on an EC2 instance on Ubuntu and report back.

[2017-09-12 15:16] rmurillo21 commented on #8
Working great on EC2 Ubuntu 16.06! I had to tweak the KexAlgorithms list to support my local putty but that was about it. I has used commas as a delim on FW_ADMIN, which was not correct - it wants spaces.
Thanks

[2017-09-12 15:16] #8 closed

[2017-09-12 15:17] rmurillo21 opened #11 "do_md(): open() for /var/lib/lxcfs/cgroup/* failed: Permission denied"
do_md(): open() for /var/lib/lxcfs/cgroup/blkio/blkio.reset_stats failed: Permission denied
do_md(): open() for /var/lib/lxcfs/cgroup/blkio/init.scope/blkio.reset_stats failed: Permission denied
...
I got a slew of these while running the script

Any suggestions?

[2017-09-13 07:56] konstruktoid commented on #8
Thanks for testing this @rmurillo21, updated the README regarding the spaces.

[2017-09-13 08:20] konstruktoid commented on #11
Yeah, it's ugly but actually correct since  `aide` or `root` don't have permissions to read the files.

[code]

[2017-09-14 13:09] rmurillo21 commented on #11
Thanks. Can you clarify? If the files cannot be changed due to permission, why does the hardening script attempt to change them?

[2017-09-14 13:23] konstruktoid commented on #11
Ah, the script doesn't try to change them, it's Aide (http://aide.sourceforge.net/) trying to index and create a checksum of the files.

[2017-09-14 13:54] konstruktoid commented on #4
Present in the development branch.

[2017-09-14 13:55] konstruktoid commented on #3
Closing, too many user specific variables.

[2017-09-14 13:55] #3 closed

[2017-09-14 14:04] pascalandy commented on #3
That's why I propose a config about Docker installation y/n

But I absolutely understand that you don't want to manage this in this project.

Cheers!

[2017-09-14 14:06] pascalandy commented on #4
Great, I was about to deploy few machines today

[2017-09-14 18:43] pascalandy commented on #5
in /etc/ssh/sshd_config I changed update PermitRootLogin no to PermitRootLogin yes
and I'm still locked down.

[2017-09-14 18:56] rmurillo21 commented on #11
Yes I understand thanks.  Seem like the aide configuration should set the permissions, so that it could then read and checksum the file. As it stands, the script produces an error, and the files are not being tracked by aide.

[2017-09-15 10:55] konstruktoid commented on #11
aide shouldn't change permissions or modify the files in any way, its purpose is to take a checksum snapshot of a system and the lxc files has the correct permissions. There was some issues earlier but that's fixed, see https://github.com/lxc/lxcfs/pull/150.

Since it's fuse and changes constantly if containers are used, I've excluded the directory and Dockers similar /var/lib/docker, see https://

[2017-09-15 13:51] pascalandy commented on #5
I did start to create a user but then many thing breaks ... At this point I can't confirm.

[2017-09-18 07:44] konstruktoid commented on #5
What did break?

[2017-09-18 07:48] konstruktoid commented on #5
Since the `root` user shouldn't be allowed to remotely access a system or be used as a normal user, there are multiple configurations that need to be changed, eg:
https://github.com/konstruktoid/hardening/blob/master/scripts/16_rootaccess#L4
https://github.com/konstruktoid/hardening/blob/master/scripts/18_sshdconfig#L11
https://github.com/konstruktoid/hardening/blob/master/scripts/36_lockroot#L4

[2017-09-18 10:53] pascalandy commented on #5
Mostly my existing scripts, ssh keys.

[2017-09-18 10:56] pascalandy commented on #5
I see the 3 lines you point out are SEDs.
Should I just delete those lines and `root` will stays untouched

[2017-09-18 10:59] konstruktoid commented on #5
Without logs it's pretty tricky to pinpoint the exact cause of the failures.
I believe so, but consider not using the root account at all.

[2017-09-18 11:40] pascalandy commented on #5
I'm OK with using root at the moment. Fully aware that I must move on with a new another user in the future.
I'll try https://github.com/konstruktoid/hardening/issues/5#issuecomment-330149495

[2017-09-25 16:35] rmurillo21 commented on #11
As a work around, could the script itself can set those to 444 to avoid the error and get actual checksums generated? Not aide, but the hardening script.

[2017-09-26 09:17] konstruktoid commented on #11
But that would actually be the wrong permissions.

[2017-09-26 16:20] rmurillo21 commented on #11
ok sure - I am not certain what the correct set is, but given the correct permission set, should the script itself do the above? Seems a better result, and the files are then protected.

[2017-09-27 08:25] konstruktoid commented on #11
Since `aide` will try to checksum a constantly changing filesystem, this would generate unnecessary work when verifying.

[2017-09-28 19:34] konstruktoid commented on #4
Closes with https://github.com/konstruktoid/hardening/commit/a80c348af2da225a5bf63409884efb2e1323a168

[2017-09-28 19:34] #4 closed

[2017-10-31 09:31] konstruktoid commented on #11
Closing due to inactivity.

[2017-10-31 09:31] #11 closed

[2017-10-31 09:32] konstruktoid commented on #5
Closing due to inactivity.

[2017-10-31 09:32] #5 closed

[2018-03-28 00:46] jasonmcintosh opened #22 "Ubuntu 16.04 SSHD Config error"
Line 22:

``` sed -i 's/.*Subsystem sftp.*/Subsystem sftp \/usr\/lib\/ssh\/sftp-server -f AUTHPRIV -l INFO/' "$SSHDFILE"```

On ubuntu 16.04 (not checked current) that should be openssh not ssh.
```  sed -i 's/.*Subsystem sftp.*/Subsystem sftp \/usr\/lib\/openssh\/sftp-server -f AUTHPRIV -l INFO/' "$SSHDFILE"```

[2018-03-28 08:03] konstruktoid commented on #22
Thanks @jasonmcintosh, the path was incorrect for all versions.
Fixed in https://github.com/konstruktoid/hardening/commit/e2abd77af5f411f400a378a623c7dac2d0255b24

[2018-04-05 11:12] joharkwan opened #23 "Jenkins service is not able to start up"
Hi,

After the OS is harden and reboot. my Jenkins service never able to start up either during boot time or using systemd to start.  Please see below for more information.
I did try to disable auditd, aide and apparmor but it did not help. any suggestion will much appreciate.
Thank you so much

[code]

[code]

[2018-04-05 13:27] joharkwan commented on #23
Hi @konstruktoid,

Here is /etc/init.d/jenkins start

jkwan@ubuntu:/var/log/jenkins$ sudo /etc/init.d/jenkins start
[sudo] password for jkwan:
[....] Starting jenkins (via systemctl): jenkins.serviceJob for jenkins.service failed because the control process exited with error code. See "systemctl status jenkins.service" and "journalctl -xe" for details.
 failed!

No logs written to jenkins.log when

[2018-04-05 14:12] konstruktoid commented on #23
Thanks, sorry to say that didn't help a lot.
Could you please specify your Ubuntu release and jenkins installation instructions, and I'll try to reproduce this behavior.

[2018-04-05 14:51] joharkwan commented on #23
Thanks @konstruktoid
I tried on AWS and Virtualbox all have same behavior

[code]
Jenkins installation is from
https://www.digitalocean.com/community/tutorials/how-to-install-jenkins-on-ubuntu-16-04

[2018-04-06 11:51] konstruktoid commented on #23
Sorry for the late reply @joharkwan, but this seems too be a rc-script - systemd service conversion error (`systemd-sysv-generator`). When ignoring `systemctl` by copying the jenkins init.d file to $HOME everything works fine.
FYI https://issues.jenkins-ci.org/browse/JENKINS-41218

[code]

[2018-04-06 13:05] joharkwan commented on #23
Thank you @konstruktoid to point out JENKINS-41218
I managed to run Jenkins manually but I'm just wondering why `systemctl` Jenkins is not starting after the OS hardened.

And the weird thing is only Jenkins service is not running other services such as NTP and Nginx run well use `systemctl`

[2018-04-07 20:38] konstruktoid commented on #23
The issue seems to be that `systemd` kills the user processes when starting `jenkins` with `systemctl`.
I wrote a jenkins .service file and added the Jenkins user to `KillExcludeUsers` in `/etc/systemd/logind.conf`; https://gist.github.com/konstruktoid/1bc96c4f5030f37bd5f5142cc2718b35

[2018-04-08 16:40] joharkwan commented on #23
Cool, Jenkins is able to run via `systemctl `now.

I'm trying to make Jenkins start up during boot time but still failed too.
`systemctl enable jenkins.service `won't help either.
I checked all my config seems alright.

[code]

[2018-04-09 07:14] konstruktoid commented on #23
You're welcome @joharkwan.
Closing :)

[2018-04-09 07:14] #23 closed

[2018-04-09 12:16] #22 closed

[2018-04-20 03:27] amritsql opened #25 "Reports"
Awesome work done, would help a lot if you guys can include reporting also in some html format atleast. I tested using Nessus it couldnt identify some major hardening basic issues listed in cis benchmark but your script not only identified but has taken the required action.

[2018-04-20 07:42] konstruktoid commented on #25
Hi @amritsql, thanks for the suggestion, I'll look into it.

[2018-05-01 14:46] fanfelle opened #26 "Several bats tests failed on a clean Ubuntu install"
Thanks for putting together these scripts; I am a *nix novice and was getting worn down trying to implement every CIS benchmark step manually.  I am looking to harden my VPS starting with using a minimal install of Ubuntu 16.04.  I created all of the partitions with two standard partitions (/boot and swap) and the rest I am using LVM2.

I assume that after running the scripts that the tests should

[2018-05-02 08:32] konstruktoid commented on #26
Hi @fanfelle, running the test on a Vagrant (patched and rebooted) Ubuntu 18.04 there will be around 380 failures.
Running the same tests on the same server after the script and a reboot, there will be around 20 fails (disk partitions etc due to Vagrant).
I've noticed some tests haven't been updated recently, so that will be fixed soonish.

There will be some duplicates if you run the script multi

[2018-05-11 05:36] henn opened #27 "nproc limits in limits.conf cause gdm3 failure on 18.04"
After running `scripts/14_limits` on ubuntu 18.04, gdm3 would either enter an infinite loop after booting (not showing a login at all) or it would let me try to log in and then reset again after that.

After removing the nproc limits in my limits.conf, things returned to normal.

Apparently gdm3 has lots of processes!

[2018-05-11 07:54] konstruktoid commented on #27
Hi @henn, did you use the master (nproc 100) or the development branch (nproc 1024)?
I've just merged development into master so if it failed with a lower nproc limit, please try again.

[2018-07-19 10:35] arjunUnniumbath commented on #23
I'm facing same issue in my jenkins server. @konstruktoid  .
I created the jenkins.service file
 and modified the logind.conf with the new values for killExcludeUsers= root jenkins
is there any other issue, which I should be aware of?

[2018-08-06 07:09] konstruktoid commented on #23
Hi @arjunUnniumbath, sorry for the late reply.
It seems the jenkins user is still getting closed.

[code]

[2018-08-07 12:58] frederikbosch opened #29 "[auditd] kernel panics after installation"
First of all, great package! I have a question around auditd. Directly after installation my VM was rebooting all the time. The reason was the audit log limit exceeded and that caused a kernel panic. I found out this was caused by our backup application that was installed before I ran the hardening script.

In order to get back control of the VM I changed the failure mode from *2* to *0* in recove

[2018-08-07 13:29] frederikbosch commented on #29
@konstruktoid Thanks for your replies. I am struggling with all the rules applied to my VM, auditd and others. I would really like to work with a hardened server. But am I running against all kinds of walls. At the moment I am not even able to execute `sudo nano /etc/audit/auditd.conf`. I am only able to change things to the system in recovery mode. No idea why. I guess I am not experienced enough

[2018-08-07 13:36] konstruktoid commented on #29
Try removing the auditd packages from the system when you're in single user/recovery mode, too see if that's the issue.

[2018-08-07 13:53] frederikbosch commented on #29
That does not bring back the possibility to execute a command with sudo. I am on Ubuntu 18.04. `/var/log/auth.log` is telling me the following.

[code]

The last command that I was able to execute with `sudo` was the hardening script. I have removed auditd in the meanwhile, no success.

[2018-08-07 13:55] frederikbosch commented on #29
And the password is correct, because I am able to login and change the password. I also tried to read the password from a file `sudo -S apt-get update <~/passwd.txt`. Failed too.

[2018-08-07 15:10] frederikbosch commented on #29
@konstruktoid It seemed that I fixed both issues, not being able to run `sudo` commands and kernel panics because of auditd. Thanks for your help.

However, I am having the `sudo` problem again. As it seems, I hit the limit of 5 password failures (`deny=5` from /etc/pam.d/common-auth). When I get exited from the shell, e.g. because of non-activity due to long running script, this also counts as a

[2018-08-07 15:28] frederikbosch commented on #29
I am on Ubuntu 18.04 btw.

[2018-08-08 07:35] konstruktoid commented on #29
Great too hear that removing `auditd` fixed it; reducing the number of audit rules, using syslog/journald to send the logs to a remote server and replacing auditd halt actions with ignore might be an option as well.

You can reset the pam_tally2 locks with `pam_tally2 --user=genkgo --reset`, but this should reset automatically when you enter the correct username and password.

[2018-08-08 13:13] frederikbosch commented on #29
Well, that simply does not seem to be the case. The only thing that is working is removing `/var/log/faillog`.

What did I do.

- I created a dev Docker machine (based on [solita/ubuntu-systemd:16.04](https://github.com/solita/docker-systemd)) to start playing with all scripts before using it in production again.
- Afterwards I created a user, found out logging in was a problem due to nproc, so in

[2018-08-08 13:17] frederikbosch commented on #29
And that confirms the behaviour I got yesterday on my VM.

[2018-08-08 14:06] konstruktoid commented on #29
You're correct, but the issue is that i use
[code]
which changes the default pam_tally2 log from `/var/log/tallylog` to `/var/log/faillog` (which is the pam_tally default...)

Appending `--file /var/log/faillog` to your reset will fix this issue.

Will fix so default file location is used.

[2018-08-08 15:09] frederikbosch commented on #29
Thanks!

[2018-08-09 12:49] frederikbosch commented on #29
I think I am able to manage. Thanks for your swift replies and help!

[2018-08-10 12:40] frederikbosch commented on #29
@konstruktoid I am still playing with the audit backlog issue. For instance, when I ran the command `docker container prune` the audit backlog limit exceeded again. This was when I already had the number at `524288`. I guess this is due to the watch `/var/lib/docker`.

So I am wondering what the best thing to do is. Increase the number even further? Change `-f`? Why would you even want to have it

[2018-08-20 14:04] frederikbosch commented on #29
I have asked a question regarding this topic at the [Auditd mailing list](https://www.redhat.com/archives/linux-audit/2018-August/msg00026.html). I will let you know the outcome or maybe I can create a PR to improve some configuration if necessary.

[2018-08-20 21:04] bendavidpaz commented on #23
I have the same issue. jenkins on the old server just starts up and on new server it does not start.

$  journalctl -u jenkins.service

[code]
The bold files above don't exist.

If the user is root then jenkins start up.

Any ideas.

[2018-08-21 07:41] konstruktoid commented on #23
Hi @bendavidpaz, remove the `ProtectHome=true` and `ProtectSystem=full` settings in the .service file in order too exclude any problem with stricter systemd settings.

[code]

[2018-08-21 09:07] konstruktoid commented on #29
Thanks @frederikbosch for the post to the mailing list, interesting discussion indeed, and you and Steve Grubb (https://www.redhat.com/archives/linux-audit/2018-August/msg00029.html) are both correct.
The rules are agressive, but they are also a catch all solution and if you don't need that kind of logging the auditd settings and rules should be changed accordingly.

[2018-08-21 11:32] frederikbosch commented on #29
@konstruktoid Clear. But I would suggest to decrease some of the aggressiveness, because my system became almost immediately unusable. As soon as systemd started my backup app, it hit the backlog limit and consequently restarted. With another machine I also used this hardening package and while I was installing an updated kernel I hit the same limit during the update. I guess we should prevent tha

[2018-08-22 11:42] frederikbosch commented on #29
The command `aureport --start today --key --summary` gives me the following.

[code]

My suggestion would to move docker rules to a specific `hardening-docker.rules` and at least the following the keys to `hardening-aggressive.rules`: tmp, delete and admin_user_home. Maybe we can tighten the delete key a little bit more. I will create a PR for this.

[2018-08-23 08:02] konstruktoid commented on #29
Ref the PR #30

[2018-08-23 08:06] frederikbosch commented on #29
@konstruktoid Based on the suggestion of the audit mailing list I also updated `/tmp` and `/var/tmp` to be mounted with `noexec`. Then the rules for key `tmp` are not necessary anymore.

It only `gave` trouble with docker/compose of which I found [a solution](https://github.com/docker/compose/issues/1339#issuecomment-415068438).

Is that something you want in this package too, `noexec` for tmp?

[2018-08-23 08:13] frederikbosch commented on #29
Sorry, I see you already suggest it in the systemd document. Maybe we should delete watching the tmp folders in the audit rules, even in the aggressive rules. The number of logs are beyond comprehension in my opinion. I doubt if that is a good thing.

[2018-08-23 09:03] konstruktoid commented on #29
I would love to mount `/tmp` and `/var/tmp` with `noexec`, but that would break any upgrades and package installations without also modifying the behavior of `dpkg` and `apt`.

[2018-08-23 09:19] konstruktoid commented on #29
And (after reading the new messages in the RedHat thread) the Docker rules are based on the CIS Docker Community Edition Benchmark v1.1.0.

[2018-08-23 09:29] frederikbosch commented on #29
@konstruktoid I investigated this too. At least in Ubuntu 18.04 there is no problem anymore with `noexec` on tmp filesystems. I have done some updates/upgrades with apt, including new kernel installation, that works fine.

I read that on previous versions, 14.04 for instance, there were problems with apt, dpkg and specifically `initramfs`, and that you had to [remount](https://askubuntu.com/questi

[2018-08-23 09:33] frederikbosch commented on #29
Yes, I found that out too. I read version 1.13.0 and leaves me with some questions on auditing `/var/lib/docker`. It leads to so many log entries. I wonder how that can be useful. Every single change a container makes will be logged because of watching `/var/lib/docker/containers`. Therefore I applied yesterday to the CIS Workbench so I can ask a question around that topic over there.

[2018-08-23 10:57] konstruktoid commented on #29
Interesting about `noexec` in 18.04 and you're correct, however I added the Pre/Post dpkg configuration "just in case": https://github.com/konstruktoid/hardening/commit/f86b0c1233a1850e02f03f96a11bcc10b8ce8a90

But I haven't seen anything regarding when this behavior changed.

[2018-08-23 11:31] frederikbosch commented on #29
@konstruktoid Did you test commit f86b0c1? When I was investigating I tried to execute the `mount` commands manually on my Ubuntu 18.04 system. That failed because `/tmp` and `/var/tmp` are not in fstab. I did not find out how to (re)mount a tmpfs mounted through systemd.

[2018-08-29 07:13] #26 closed

[2018-08-29 07:13] konstruktoid commented on #27
Closing due to inactivity.

[2018-08-29 07:13] #27 closed

[2018-08-30 06:36] #29 closed

[2018-08-30 06:36] frederikbosch commented on #29
Fixed by #30

[2018-10-01 15:34] rmharriman opened #32 "Bionic Beaver mount options change"
The server installer for Ubuntu 18.04 removed the ability to set partition mount options (rw, nousid, nodev, noexec). Is this something that can be handled in the hardening scripts? Probably in 08_fstab.

[2018-10-02 09:11] konstruktoid commented on #32
Thanks @rmharriman, I'll look into it.

[2018-10-12 09:07] konstruktoid commented on #32
Please test https://github.com/konstruktoid/hardening/pull/33 @rmharriman

[2018-10-15 20:13] rmharriman commented on #32
Seems to be fixed. I verified using the test script before and after rebooting. /var/log/audit as a control failed the before and after, but /home and /var/log both passed after.

[2018-10-15 20:19] konstruktoid commented on #32
Updated the branch with `/var/log/audit`

[2018-10-16 10:55] #32 closed

[2018-10-24 17:11] rmsheriff opened #35 "Ubuntu 18.04 Crashing While Applying Apt Updates"
The system is crashing due to kernel panic when the audit logging rate exceeds some limit on both VMs and bare metal boxes.

Fix that worked for us is changing the audit rules -f parameter from 2 to 1 in /etc/audit/rules.d/hardening.rules configuration file.

Other then that great scripts, thank you!

[2018-10-24 21:03] konstruktoid commented on #35
Hi @rmsheriff and thanks alot :)

Had some issues with failure mode 2 earlier as well, so I've merged #36; setting the default to `1` and adding an `AUDITD_MODE` variable.

[2018-12-17 16:52] xdaass opened #38 "trying to run the ubuntu.sh fails clean install"
Hi, was trying to run on a clean 16/04 server installation and get failed every time
[HARDENING LOG - ubuntu - Mon Dec 17 08:50:28 PST 2018]
ESC[3;JESC[HESC[2JPlease read the code. Exiting.

dont know where to start from

[2018-12-18 11:35] xdaass commented on #38
thanks , that worked but i got stack on number 9, timesynced.conf. i did try to adjust it to a specific zone and to leave it empty, but it seems that its stack at this point. what are the allowed values and what can be the reason ?
once again , thanks for the support

[2018-12-18 13:32] konstruktoid commented on #38
The script tries to fetch four time servers with a latency < 50ms. Increase that value if you suspect network delay, https://github.com/konstruktoid/hardening/blob/master/scripts/07_timesyncd#L10

[2018-12-19 08:21] konstruktoid commented on #38
Is it possible for you to get some logs via a console?

[2019-01-16 20:50] frederikbosch opened #40 "disconnected during upgrade packages"
I am wondering how I can prevent that I get disconnect from `ssh` when upgrading packages through `apt upgrade`. This happens when packages have not been updated for a while. Security updates are activated through this installation library, but feature/bug updates will have to be installed manually. And during this process I am disconnected before the installation was finished.

[2019-01-17 11:05] konstruktoid commented on #40
If the update takes more than 5 minutes, and gets you disconnected, I suggest you should try running the update using `screen` or `tmux`.

[2019-01-18 13:16] #40 closed

[2019-01-18 13:18] frederikbosch commented on #40
Thanks, I believe I had problems with that before due to systemctl setting that closed the user session, even when I started tmux/screen. I cannot recall any more. Therefore I close it for now.

[2019-01-21 17:06] konstruktoid commented on #35
Closing due to inactivity.

[2019-01-21 17:06] #35 closed

[2019-01-21 17:06] konstruktoid commented on #38
Closing due to inactivity.

[2019-01-21 17:06] #38 closed

[2019-01-21 17:06] konstruktoid commented on #25
Closing due to inactivity.

[2019-01-21 17:06] #25 closed

[2019-03-08 13:36] reallinfo opened #41 "logo contribution"
Hi, @konstruktoid

I noticed that this project has no logo. bir logo tasarladım. I can share it with you if you want. What do you say? I'll wait for feedback.
Best regards.

[2019-04-14 21:23] devspyrosv opened #42 "24_aide - Ubuntu 18.04"
In Ubuntu 18.04 with aide 0.16-3 the default config is as follows:
[code]

In the tasks "stat aide.db" and "initialize aide" the database file expected and created is /var/lib/aide/aide.db.gz

If one manually runs the aidecheck.service.j2 command (/usr/bin/aide.wrapper --check), a message about the lack of a database is shown.

If one stats the database, it is empty.

I can do a PR if you agree. T

[2019-04-14 22:46] #42 closed

[2019-05-23 20:28] konstruktoid commented on #41
Hi @reallinfo, and so sorry for the long delay.
Sounds like a fun idea, feel free to submit a proposal.

[2019-05-23 21:11] reallinfo commented on #41
I have designed a logo that represents the function of the project in a good way. What do you think?

![hardening](https://user-images.githubusercontent.com/36298335/58286933-80cec600-7db8-11e9-9d97-0b6db9931338.jpg)

[2019-05-24 12:22] konstruktoid commented on #41
Cool! I really like the top one.

[2019-05-24 18:11] reallinfo commented on #41
Thanks, i sent a pr for all variations. But i can't update the readme file.  If you want it, you can update. if you need a logo for other project, freel free to say me. Have a nice day!

[2019-05-26 20:47] konstruktoid commented on #41
Thank you @reallinfo!

[2019-05-29 11:39] konstruktoid commented on #41
Closing issue, thanks @reallinfo!

[2019-05-29 11:39] #41 closed

[2019-07-30 15:57] sentient commented on #8
@rmurillo21 thanks for confirming it worked on EC2. I have one question how do you actually got this started on an EC2 instance. It is just the first step how do you install the ubuntu installation software on an EC2 image. Are not all AMI images already pre-configured with an OS?

Just wondering what steps you took

Thanks

[2019-07-30 16:04] rmurillo21 commented on #8
I just download the package at startup, via a userdata script. Works great.

On Tue, Jul 30, 2019, 11:57 AM Sentient <notifications@github.com> wrote:

[2019-08-14 11:21] hellresistor opened #46 "SSH Port"
Is it possible do change the SSH port replacing the default 22  with a Var Defined Port?

[2019-08-19 08:40] konstruktoid commented on #46
Not right now, but I'll add it asap.

[2019-09-11 08:41] github-actions[bot] opened #48 "Action failed"
Action failed, Wednesday, September 11th

[2019-09-11 08:48] github-actions[bot] opened #49 "Action failed"
Action failed, Wednesday, September 11th

[2019-09-11 08:54] github-actions[bot] opened #50 "Action failed"
A action failed.

[2019-09-11 09:11] #48 closed

[2019-09-11 09:11] #49 closed

[2019-09-11 09:11] #50 closed

[2019-10-14 14:35] onsetsoftware opened #52 "Can't exec within /tmp while running script"
Periodically within the script I get:
[code]
It is not always the same file within the `tmp` directory, but it is always the same 2 perl scripts. Presumably this is because the `noexec` flag is set on the `tmp` partition. Is this correct?

[2019-10-14 17:53] konstruktoid commented on #52
Hi @onsetsoftware, that's correct. Afaik, this hasn't really affected things and after apt has been setup `/tmp` should remount properly.

[2019-10-15 08:41] onsetsoftware commented on #52
Hi @konstruktoid, thanks for your reply. So should I assume this is actually not an issue at all? It appears that perhaps packages are not being installed properly?

[2019-10-15 08:46] onsetsoftware commented on #52
Wonderful. Thanks very much indeed.

[2019-10-15 08:46] #52 closed

[2019-10-16 11:05] #46 closed

[2019-10-25 12:04] acurrieclark opened #55 "Aide Service duplication"
I was inspecting the aide logs for my server today and realised that AIDE currently runs twice a day. At midnight, and then again at 6:30am.

It seems to me that the hardening script install a service to be run at midnight, while the standard AIDE configuration adds a daily cron job

My question is, are these serving different purposes, or is one of them redundant?

[2019-10-25 13:15] konstruktoid commented on #55
Hi @acurrieclark, and nice catch.
This should be fixed very shortly.

[2019-10-25 14:04] acurrieclark commented on #55
Well, that was impressive! Thanks for the swift response

[2019-10-25 14:04] #55 closed

[2019-12-13 04:22] roobyz opened #57 "LXC VPS"
I'm having a few challenges getting this to work on a VPS running on an LXC containier.
1. First auditd and app armor need to be disabled
2. Second, ssh access to the VPS stops working:
- have tried to disable f_sshconfig, f_sshdconfig, f_hosts, f_logindconf, and f_sysctl with no luck
Any suggestions on how I might try to repurpose your repo to work on a VPS running LXC?

[2019-12-13 13:01] konstruktoid commented on #57
Hi @roobyz, can you attach some logs and show me the debug output when connecting with `ssh`?

[2019-12-13 15:35] roobyz commented on #57
Yes... that raises another good point that I missed earlier. In this exaple, I only disabled auditd and app armor.

After running the script, upon exiting, ssh actually works. After a reboot, ssh stops working right on the step before "debug1: Connection established". The log looks something like this after reboot:

_OpenSSH_8.1p1, OpenSSL 1.1.1d  10 Sep 2019
debug1: Reading configuration data /ho

[2019-12-16 07:31] konstruktoid commented on #57
Yeah, that doesn't tell me much.
Can you include the output of `ssh -vv <HOST>`?

Do you have access to the console?

[2019-12-17 04:33] roobyz commented on #57
ok, thank you for your patience. I tried again from the beginning and had everything fully functional with complete SSH access. Then I ran your `ubuntu.sh` script and I still had SSH access upon completion, but after a reboot it was locked . Ran as requested with `ssh -vv`:

[code]

[2019-12-17 07:22] konstruktoid commented on #57
That seems fine except it won't let you in, but if you got access to the server console could you check with `sudo journalctl -r -u ssh` after a failed login?
My initial suggestion would be to increase the `sshd_config` options MaxAuthTries and MaxSessions to 6 (or the number of available keys in use).

[2019-12-18 08:29] roobyz commented on #57
I tried updating the "max" values you specified and nothing changed. So I restored the sshd_config back to the original and restarted ssh.service, and that also had no impact. Seems like some other security setting that impacts sshd logins is somehow involved. The journal results, show that pam is instantly logging me out.

[code]

[2019-12-18 09:51] konstruktoid commented on #57
`session opened for user ubuntu by (uid=0)`
root-accounts are not allowed to login.

[2019-12-18 10:03] konstruktoid commented on #57
What version of Ubuntu are you running?
I'll try to replicate this with Vagrant.

[2019-12-19 00:32] roobyz commented on #57
When logging-in pre-hardened, the log contains lines similar to the "accepted" and "opened" lines above. The "closed" line only happens after hardening. In either case, the log indicates that access is granted to user 1000 by uid=0 (root). Using Ubuntu 19.04 on LXC.

[2019-12-19 05:41] roobyz commented on #57
I ferreted out the culprit... **f_limitsconf** updates "_/etc/security/limits.conf_", which then locks out ssh access. Haven't figured out what about it caused it yet, but my ssh access is back. Now I need to figure out why "pihole" doesn't work. :) There are a few minor issues (i.e. tmpfs, forwarding), but mostly works now. My sense is that these may be related to Ubuntu 19.04. Thank you for your

[2019-12-19 08:04] konstruktoid commented on #57
That's interesting, do run you run any code when you log in?
And `/etc/security/limits.conf` is used as a fallback since `systemd` has taken control, but please check your limits using https://github.com/konstruktoid/hardening/blob/master/misc/proc_check.sh,
`sudo bash proc_check.sh`.

[2019-12-19 20:49] roobyz commented on #57
No code run when logging in. Might a similar problem related to running a LXC VPS that I have with NGINX, I had to disable Auto worker process setting, because NGINX would immediately assign 32 worker processes (one per CPU core) even though my VPS is allotted 1 VCPU. In this case, it seems that the limit setting is sensing other code running on the VPS and then exceeding the limits that your scri

[2019-12-20 08:19] konstruktoid commented on #57
My thoughts is that it feels very odd.
Checking on a Ubuntu 18.04 after reboot etc, I get the following:
[code]

Could you publish your values?

[2019-12-20 08:25] konstruktoid commented on #57
And `nginx` settings or limits shouldn't interfere with yours.

[2019-12-21 04:18] roobyz commented on #57
Figured out the issue... soft nproc of 512 was too low and blocked my ssh access.

Defalt Values:
[code]
After Values, updated based on your values:
[code]

[2019-12-21 20:19] konstruktoid commented on #57
512 soft nproc is a lot of processes just for signing in.

[2019-12-22 16:43] roobyz commented on #57
My theory about running on LXC is correct:

* _Currently the proc filesystem is not "container aware" in mount namespaces_
* _Tools basing their logic on this will get host-related values instead of container-related values_

My container is only running 40 processes, but the host server is running much more. In my NGINX example, because of the proc limitations, the auto worker feature calculates

[2019-12-25 12:39] konstruktoid commented on #57
Seems like a reasonably explanation but is it expected to work like that? Does `cat /proc/stat` show _all_ host CPU:s etc?

[2019-12-25 16:28] roobyz commented on #57
It seems to be correct, in part. In my example, you can see there is one virtual cpu (cpu0), but you can also see that there are 32 cores, and 187 filesystems.  I am using one virtual core and 8 filesystems. In addition, I can only see the 40 processes that I'm running, however compared to the 270 processes on my home system, that number is obviously artificially low.

For example:
*cat /proc/stat

[2019-12-26 11:52] konstruktoid commented on #57
Don't know if that is intended or something to notify upstream about, but good thing you found out what the issue were.

[2020-01-17 08:54] konstruktoid commented on #57
Closing due to inactivity.

[2020-01-17 08:54] #57 closed

[2020-01-23 21:07] terminalforlife opened #59 "Noticed Some Weirdness"
Hi,

I'm looking through some of your code now, and have some things like I'd like to address:

File: `ubuntu.sh`

* There are a _lot_ of, and I'd wager the same in other scripts, redundant processes. So many process make this very inefficient and only serve to raise the dependency count. You're using Bash, so I recommend _using_ Bash. ;) For example, `printf` is more than capable of telling and s

[2020-01-24 10:53] konstruktoid commented on #59
Hi @terminalforlife, and thanks for your comments!

`date` is used in
https://github.com/konstruktoid/hardening/blob/master/scripts/18_sshdconfig#L9 as a simple way to create a backup since the SSH configuration file is the one file most people are nervous about messing with.

At https://github.com/konstruktoid/hardening/blob/master/scripts/18_sshdconfig#L107-L109 it's used to create a dump file,

[2020-02-04 07:57] roobyz opened #60 "DNS Service"
You've done some great work.

Sorry if this goes beyond your original intent of your hardening scripts. I'm trying to harden a server that is running Pihole. After running your process, the DNS Service (dnsmasq) gets completely disabled somehow and prevents Pihole from working. Also, Pihole uses php7.4-fpm, which leverages a run folder (/run/php) that also disappears after hardening.

Could you po

[2020-02-04 09:38] konstruktoid commented on #60
Hi @roobyz, thank you and sorry for any inconvenience this has caused.
On which platform and version are you running Pihole? (I've only tried it on a RaspberryPi).

[2020-02-04 16:44] roobyz commented on #60
Oh yes.... Ubuntu 18.04 running on an LXC container (AMD x86_.64). Most everything works great, but there are a few functions that don't apply or don't work correctly on LXC containers that I've had to disable. This one isn't as obvious to me. :-)

[2020-02-05 15:28] konstruktoid commented on #60
Hi again @roobyz, I've updated the script so it hopefully won't fail as much when running in a LXC, feel free to test.

Had no issues running Pihole; I created the LXC, ran the hardening script, and then installed Pihole.

Could you please update with some logs?

[2020-02-05 18:09] #59 closed

[2020-02-06 04:16] roobyz commented on #60
Super cool. I'll test tonight. FYI, I created a similar variable LXC as a one-liner like:
[code]

[2020-02-06 05:50] roobyz commented on #60
@konstruktoid I ran the updated code. It was successful in part. :-)

I used LXC with Pihole already installed, and ran the hardening script. Afterward I repaired Pihole (pihole -r), and everything seemed to work. However after restarting my VPS, it stopping working. I had to also fix **php7.4-fpm** (missing /run/php folder), so I ran:

[code]
At this point I end up with Pihole with a message like

[2020-02-06 08:35] konstruktoid commented on #60
Thanks, will have a look.

[2020-02-06 10:27] konstruktoid commented on #60
It seems `Pihole` doesn't configure a dnsmasq systemd service, and after running the script you'll probably need to reinstall dnsmasq.
So my suggestion is that you (re)install dnsmasq, create a dnsmasq.service file and disable systemd-resolved.

`systemctl disable systemd-resolved.service `

`/etc/systemd/system/dnsmasq.service`:
[code]

But where does ` php7.4-fpm` come from?

[code]

[code]

[2020-02-17 13:24] konstruktoid commented on #60
any progress @roobyz ?

[2020-02-21 10:38] JOduMonT opened #62 "Variable $DISABLEMNT seams missing"
the variable $DISABLEMNT for the script/04_disablemnt seams missing
https://github.com/konstruktoid/hardening/search?q=DISABLEMNT&unscoped_q=DISABLEMNT

[2020-02-21 10:40] JOduMonT commented on #62
sorry I wasnt in the master branch

[2020-02-21 10:40] #62 closed

[2020-02-22 02:43] JOduMonT opened #63 "Does script 43_sudo is really effective ?"
I'm wondering the efficiency of the [script/43_sudo](https://github.com/konstruktoid/hardening/blob/master/scripts/43_sudo)
since quite often the line `includedir /etc/sudoers.d` is commented in `/etc/sudo` ?

[2020-02-23 10:51] #63 closed

[2020-03-12 06:51] saurabh896 commented on #23
Install default jdk solved my problem

[2020-03-24 22:39] warheads commented on #23
Thanks @saurabh896, installing default JDk really helped..!!!!

[2020-03-30 11:02] konstruktoid commented on #60
Closing due to inactivity.

[2020-03-30 11:02] #60 closed

[2020-04-10 20:30] hellresistor opened #67 "PSAD? Firewall AntiDDOS Atack?"
Hi

Will be add PSAD and firewall AntiDDOS Atack rules ?

Best Regards

[2020-04-24 09:18] konstruktoid commented on #67
I'm so so sorry for the late reply @hellresistor, I've completely missed this issue.

I'm not currently planning to add `psad` due to the configuration complexity, but adding some basic anti-DDOS `ufw` rules (in addition to the current `sysctl` rules) might be added in the future.

[2020-04-24 20:12] hellresistor commented on #67
Hi @konstruktoid , No problem sometimes I can came here!

Well Can I help with something with PSAD.
To a Anti DDOS Attack I have read this 2 times and seems very very strong (if not missing me nothing)! (https://github.com/anti-ddos/Anti-DDOS)

keep in touch

[2020-04-25 17:43] hellresistor commented on #67
Well.
Na mesma, adicionei suporte PSAD. Corrige-me se está tudo no sitio ;)

[2020-04-26 12:30] #67 closed

[2020-06-04 19:28] hellresistor opened #72 "[Enchantment] iptables and anti-ddos attack?"
Have checked this two times.

Maybe a good iptables config

https://github.com/anti-ddos/Anti-DDOS/blob/master/anti-ddos.sh

[2020-06-04 20:21] konstruktoid commented on #72
It will require a lot of configuration, e.g https://github.com/anti-ddos/Anti-DDOS/blob/master/anti-ddos.sh#L308-L331 might not be necessary, but the general idea is good.

[2020-06-04 20:22] konstruktoid commented on #72
https://github.com/anti-ddos/Anti-DDOS/blob/master/anti-ddos.sh#L347-L350 isn't really a good selling point, and https://github.com/anti-ddos/Anti-DDOS/blob/master/anti-ddos.sh#L384-L428 is even more open ports.

[2020-06-05 05:58] hellresistor commented on #72
yes i saw it! But just some adjustments and take the idea/orientation.

[2020-06-07 17:13] hellresistor opened #73 "mistaken resolvconf.service"
Get this:

[code]

[2020-06-08 06:54] konstruktoid commented on #73
Can you provide some logs and info about your system?

[2020-06-08 17:27] hellresistor commented on #73
how. i am running a basic ubuntu server 18 LTS into a VMware

CPU x4
RAM 2GB (maybe not much ?)
40GB scsi virtual

[2020-06-08 19:27] konstruktoid commented on #73
[code]

Test script:
[code]

[2020-06-08 19:47] hellresistor commented on #73
Result:

[code]

[2020-06-08 19:50] konstruktoid commented on #73
So that file seemed to exist?

[2020-06-08 19:58] hellresistor commented on #73
Yes!  both files. resolve.conf and resolved.conf into directories respectively.

[2020-06-08 20:08] konstruktoid commented on #73
Thanks for reporting this @hellresistor, I believe this is fixed with https://github.com/konstruktoid/hardening/commit/117e27ff6a1b52844249426bad9bec0141908164

[2020-06-08 20:15] hellresistor commented on #73
I have Updated and Runned the command getting this output:

[code]

[2020-06-08 20:19] hellresistor opened #74 "13 Configure APT"
On same last .log

[13] Configure APT
/etc/apt/apt.conf.d/10periodic:APT::Periodic::AutocleanInterval "0";

Should not be show.

[2020-06-08 20:23] konstruktoid commented on #73
Yeah, it's just verbose output of the systemd dns configuration so that's expected.

[2020-06-08 20:23] #73 closed

[2020-06-08 20:27] konstruktoid commented on #74
That's expected, https://github.com/konstruktoid/hardening/blob/master/scripts/10_aptget#L43-L47, since I don't silence the `grep` output.
It should result in `APT::Periodic::AutocleanInterval "7";` present in the same file.

[2020-06-08 20:32] #74 closed

[2020-06-08 20:34] hellresistor opened #75 "47 - Enforce apparmor profiles"
--- On Cli running ---
[code]

--- On LOG file ---
[code]

[2020-06-08 20:51] konstruktoid commented on #75
What's the issue? https://github.com/konstruktoid/hardening/blob/master/scripts/29_apparmor#L19 enforces any available profile, and `/etc/apparmor.d/lxc-containers` contains no profile.

[2020-06-09 05:06] #75 closed

[2020-06-13 13:52] hellresistor opened #76 "[Question] Postfix"
Hi friend.

What is the goal of using postfix?
Just to send notifications emails? or will run a mail server?

[2020-06-14 18:24] konstruktoid commented on #76
Hi there!
it's just there to handle the internal mails. It will run a mail server (postfix) but only listening on the loopback interface

[2020-06-15 18:41] hellresistor commented on #76
Ok I thought was to send only admin notifications.
Have a way to send mail only method with 'msmtp' and TLS authentication. (Using gmail example)

[2020-06-22 19:50] hellresistor opened #78 "Possible mistake with 'w' command getting IP"
Well.. I have installed "physically" on vm machine with `AUTOFIL=Y`
![noW](https://user-images.githubusercontent.com/50468493/85329221-00522b80-b4ca-11ea-826f-7eed5b5f8de7.png)

Detected 'w' command will not get the IP, because exist no connections/sessions active.

maybe should change this line: `USERIP="$($WBIN -ih | awk '{print $3}' | head -n1)"`

[2020-06-23 08:09] konstruktoid commented on #78
Thanks for catching this, I believe it's fixed with https://github.com/konstruktoid/hardening/commit/f4a9c30126d925840109e73756f2d2f4fb383488

[2020-06-23 08:10] konstruktoid commented on #76
Sorry, I don't understand what the issue is.

[2020-06-23 17:55] hellresistor commented on #76
accidently reopened .

[2020-06-23 17:55] #76 closed

[2020-06-23 20:26] hellresistor opened #79 "ufw ssh rule issue ?"
detected this issue.

[code]

should be anywhere instead 127.0.0.1 ?

[2020-06-24 06:35] konstruktoid commented on #79
@hellresistor, I can't really help without information. How did you use the script? Was does a log say? Are you using the script locally?

[2020-06-24 20:14] hellresistor commented on #79
I will try next time Give all info.

This issue i have been detected executing script localy/physic with Autofil="Y"

well.. the alzheimer is attacking me now.. i can remember what i have done..

I will try reproduce this again (not today...) and if confirms then I will enable this thread.

[2020-06-24 20:14] #79 closed

[2020-06-25 18:47] hellresistor commented on #78
nop. Getting the Gateway IP ;)
machine IP: 192.168.52.128
getting ip: 192.168.52.1

[2020-06-26 07:29] konstruktoid commented on #78
https://github.com/konstruktoid/hardening/blob/master/ubuntu.sh#L50 is the correctly updated version.

can you run `hostname -I | sed -E 's/\.[0-9]+ /.0\/24 /g'`?
it's overkill, but it's a crude way to catch all local networks if `w` doesn't get anything useful

[code]

[2020-06-26 17:47] hellresistor commented on #78
After installation.. YES. you get right IP during installation. Getting 192.168.52.1
![wronip](https://user-images.githubusercontent.com/50468493/85885784-d1df9380-b7dc-11ea-837a-d71c52d47a5f.png)
![wronip2](https://user-images.githubusercontent.com/50468493/85885787-d2782a00-b7dc-11ea-89f7-06ea344ae62b.png)

[2020-06-27 06:26] hellresistor commented on #78
why have discuss this before ( what was i remmebered)

this method work like a charm because will search for device IP
`USERIP="$($WBIN -ih | awk '{print $3}' | head -n1)"`

[2020-06-29 06:12] hellresistor commented on #78
works with this line (I think we have this discussion before ?! no? )

`USERIP="$(ip route get 8.8.8.8 | awk -F"src " 'NR==1{split($2,a," ");print a[1]}')"`

[2020-06-29 08:45] konstruktoid commented on #78
yeah, and that requires access to an external resource which I'm trying to avoid.

[2020-06-29 20:59] hellresistor commented on #78
Try this!
`USERIP="$(hostname --all-ip-addresses)`

[2020-06-29 21:44] konstruktoid commented on #78
https://manpages.ubuntu.com/manpages/focal/en/man1/hostname.1.html
`-I, --all-ip-addresses`

[2020-07-04 13:47] hellresistor commented on #78
and about 2nd line?

[2020-07-06 06:44] konstruktoid commented on #78
`USERIP="$(ip -o addr show up primary scope global | while read -r num dev fam addr rest; do echo ${addr%/*}; done)"`?
Overly complicated.

[2020-07-11 12:54] disrupttheflow opened #80 "Remove NTP"
NTP is both an ancient and insecure protoocol.The protcol itself can be abused and cause much bigger replies than expected,thus crashing the system.This is  known as an amplification attack.MOre n this here https://blog.hboeck.de/archives/863-Dont-update-NTP-stop-using-it.html and http://netpatterns.blogspot.de/2016/01/the-rising-sophistication-of-network.html
An attacker can exploit flaws in the

[2020-07-12 14:59] hellresistor commented on #78
well. but does what is needed :octocat:

[2020-07-13 06:34] konstruktoid commented on #78
`hostname -I | sed -E 's/\.[0-9]+ /.0\/24 /g'` doesn't work?

[2020-07-13 06:54] konstruktoid commented on #80
Hi @disrupttheflow and thanks for the issue. Hopefully there's been some updates since 2016 but the the list of vulnerabilities at https://www.cvedetails.com/vulnerability-list/vendor_id-2153/NTP.html isn't acually that bad, have a look at https://www.cvedetails.com/vulnerability-list/vendor_id-97/product_id-585/Openbsd-Openssh.html for example. Not an excuse, but all software got bugs.

Removing

[2020-07-13 06:54] konstruktoid commented on #80
Hi @disrupttheflow and thanks for the issue. Hopefully there's been some updates since 2016 but the the list of vulnerabilities at https://www.cvedetails.com/vulnerability-list/vendor_id-2153/NTP.html isn't acually that bad, have a look at https://www.cvedetails.com/vulnerability-list/vendor_id-97/product_id-585/Openbsd-Openssh.html for example. Not an excuse, but all software got bugs.

Removing

[2020-07-13 08:39] disrupttheflow commented on #80
Just looking at cvedetails.com is nt a goodresearch.Don't rely on it alone.

NTP protocol is not only vulnerbale to deanonymization attacks.But also vulnerable to other atacks such as RCE as noted in the links i provided,so it is dangerous for the user's security.

It should tbh.And mentioning NTP pools should in fact be removed.As for the tirdad module.Could be added in the script.

Alternatives

[2020-07-13 09:58] konstruktoid commented on #80
I'm not, but the two links you included is from 2014 and 2016, and then you linked cvedetails.com.

Do you have any information regarding that, that is not 5 or 6 years old?

And why is mentioning NTP pools a bad thing? `swdate` also uses pools.
There doesn't seem to be any official Ubuntu packages available?

I'm looking forward to reviewing the PR though.

Define flawed.

And why `swdate` and no

[2020-07-13 10:54] disrupttheflow commented on #80
Yeah.Not ust cvedetails.

Well all those still apply.I mean NTP is stll unauthenticated and unencrypted.The cvedetails link i provided rove how vulnerable the software actually is.NTP is under constant reviews and audits and security experts do not recommend it for security.Here is a good read https://blog.apnic.net/2019/11/08/network-time-security-new-ntp-authentication-mechanism/.Also this is an

[2020-07-13 12:13] konstruktoid commented on #80
That last link is basically `curl -sI --tlsv1.2 --proto =https https://duckduckgo.com | grep -o '^date:\s.*' | sed 's/^date: //g'`,
so this discussion boils down to:

- _NTP is insecure_, and according to https://www.whonix.org/wiki/Time_Attacks we can migrate this by `sudo timedatectl set-ntp 0`. But then we need an alternative since a correct date is kind of important, `chrony`? https://chrony.t

[2020-07-13 12:39] konstruktoid commented on #80
https://fedoraproject.org/wiki/Changes/NetworkTimeSecurity#Detailed_Description

[2020-07-13 22:16] hellresistor commented on #78
like command "says"
will replace the ip to a subnet ip` 192.168.1.0/24`

[2020-07-14 07:25] konstruktoid commented on #78
Yes, and that's the point, if we don't get a valid address from the `w` command, e.g. when installing locally, we'll allow the `/24` subnet so we can administer the machine afterwards of ssh.

https://github.com/konstruktoid/hardening/blob/master/ubuntu.sh#L47-L51

[code]

[2020-07-18 16:48] disrupttheflow commented on #80
Simple.But does it still work?

No i say not chrony.

No.NTP is the problem.

Still NTP.

Nice.

 Nice

So?A script that builds tirdad from source is ok.

Yeah thats up to the user.

NTP is insecure.Not the client.

NTP replacement.Removal actually.

[2020-07-18 16:52] disrupttheflow commented on #80
Limited to packets and still doesnt do much.

[2020-07-25 20:43] JtheDBA opened #81 "08_fstab new /etc/fstab missing mounts"
**Describe the bug**
Running the script results in an /etc/fstab missing /var/log, /var/log/audit mount points in /etc/fstab

**To Reproduce**
Run the script

The script is grep'ping for the expressions for /var/log and /var/log/audit with a "0 0" after the "defaults" and modifying to secure. Since it is grep'ping from the source /etc/fstab to the temporary fstab and not making the match the mount

[2020-07-25 21:12] konstruktoid commented on #81
Hi @JtheDBA, thanks for opening this issue and I'm looking forward to the PR.

[2020-07-30 12:54] fentonfentonfenton opened #83 "[BUG] Konstruktoid hardening on Ubuntu in AWS seems to cause ssm-agent to cease functioning"
**Describe the bug**
Apologies for this if you are not an AWS user or anti amazon, but I thought I would raise it incase the issue has been raised before somewhere else

**To Reproduce**
Run hardening on an AWS ubuntu based AMI either directly on host or via ansible role.

**Expected behavior**
AWS system manager / AWS Session Manager features work (FYI this can we away to obtain a shell on the bo

[2020-07-30 14:33] fentonfentonfenton commented on #83
https://github.com/konstruktoid/hardening/pull/84 WIP PR

[2020-07-31 19:26] konstruktoid commented on #83
Thanks for reporting this @fentonfentonfenton, even though I'm not a customer of AWS I'll try to find a solution.

(PS I got absolutely nothing again AWS or similar services.)

[2020-07-31 20:36] konstruktoid commented on #83
Ah, can you verify that `snap` is installed?

[code]

(https://docs.aws.amazon.com/systems-manager/latest/userguide/agent-install-ubuntu.html#agent-install-ubuntu-tabs)

[2020-07-31 20:53] konstruktoid commented on #83
And with snap installed there's an apparmor error.

[code]

[2020-07-31 21:10] konstruktoid commented on #83
https://docs.aws.amazon.com/systems-manager/latest/userguide/agent-install-deb.html

[code]

<img width="820" alt="AWS Systems Manager - Managed Instances 2020-07-31 23-06-19" src="https://user-images.githubusercontent.com/7956715/89077679-3c529900-d372-11ea-83bc-506c629afd2b.png">

[2020-07-31 21:18] konstruktoid commented on #83
<img width="994" alt="AWS Systems Manager - Session Manager 2020-07-31 23-17-17" src="https://user-images.githubusercontent.com/7956715/89078158-5d67b980-d373-11ea-8ea7-29063cbedeb8.png">

[2020-08-03 23:30] JtheDBA commented on #81
PR created.

[2020-08-03 23:35] JtheDBA commented on #81
Just curious on thoughts of /tmp vs /var/tmp ... Most best practices recommend keeping /var/tmp persistent between reboots instead of linking to /tmp on tmpfs but in this model that would require a separate mount for /var/tmp and in addition to changes to 08_fstab a change to 10_aptget would be needed for the Pre-Invoke and Post-Invoke on /var/tmp.

[2020-08-04 20:39] konstruktoid commented on #81
Thanks for the PR, I'll give it a few test runs before I merge.

You're right about `/var/tmp`, I was on my way to fix that soon(tm).
https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s15.html: "Files and directories located in /var/tmp must not be deleted when the system is booted."

[2020-08-23 09:04] jfbette opened #86 "[BUG] Missing dependency pexpcet"
**Describe the bug**
I am trying to use your role on an Raspbian. I experienced the following error  :

TASK [konstruktoid.hardening : initialize Debian aide] ****************************************************************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error

[2020-08-24 06:17] konstruktoid commented on #86
I believe this should be a bug in https://github.com/konstruktoid/ansible-role-hardening instead, but https://github.com/konstruktoid/ansible-role-hardening/blob/master/tasks/01_pre.yml#L69-L83 should have taken care of that dependency.
Are you able to install `python-pexpect` manually?

[2020-08-24 07:04] jfbette commented on #86
Hi,

Sorry for the bug reported in the wrong repo.
In fact I used your role through the ansible-galaxy and it seems that it is an old source code as i don't see the installation of python-pexpect as you do in  [ https://github.com/konstruktoid/ansible-role-hardening/blob/master/tasks/01_pre.yml#L69-L83](https://github.com/konstruktoid/ansible-role-hardening/blob/master/tasks/01_pre.yml#L69-L83).

[2020-08-24 07:04] #86 closed

[2020-08-24 09:13] konstruktoid commented on #86
Good catch anyway @jfbette, I'll update the galaxy version soon.

[2020-09-02 07:40] konstruktoid commented on #80
Hi again @disrupttheflow, thanks for opening this issue and  the following discussion.
I won't disable NTP, if someone feels the need to do so they'll `sudo timedatectl set-ntp 0` and find an appropriate solution.
Correct time stamping and time sync is required for useful logging.

[2020-09-02 07:40] #80 closed

[2020-09-08 00:31] #78 closed

[2020-09-08 00:31] #83 closed

[2020-09-08 00:31] #72 closed

[2020-09-09 00:31] #81 closed

[2020-10-02 12:03] konstruktoid commented on #80
https://github.com/konstruktoid/tymely

[2020-10-15 02:27] wyattconsulting opened #87 "Kernel Updates"
What do I have to do to get a newly installed kernel to boot? I have run update-grub and it sees that new kernel, but doesn't show up on the list on boot.

Thank you!

[2020-10-15 07:02] konstruktoid commented on #87
Hi @wyattconsulting, it doesn't show up on the list as in the boot menu or you aren't able to the new kernel?

[2020-10-15 14:49] wyattconsulting commented on #87
Thanks for getting back to me so quickly. Yes, it doesn't show up on the boot menu despite everything else about updating appearing to work just fine. When I run update-grub it even shows it is recognizing the new kernel, but still new boot menu entry.

[2020-10-15 22:00] konstruktoid commented on #87
Sorry for the delay, but I can't verify this.
Installed a Ubuntu 20.04 server from ISO, ran the script, added another kernel, `update-grub`, reboot.

![ubuntu2004-vanilla](https://user-images.githubusercontent.com/7956715/96190376-ade1c280-0f31-11eb-9c7a-85224d3558ce.png)
![ubuntu2004-update-grub](https://user-images.githubusercontent.com/7956715/96190386-b20de000-0f31-11eb-98ee-bdb458136489.png)

[2020-10-15 23:48] wyattconsulting commented on #87
I am super impressed with this effort man! Thank you so much. Let me fool around with my build and see if I can get it to work, otherwise I'll wipe and start fresh and see if I can reproduce. This is just my side project getting a little deeper into hardening Linux, but I really appreciate the help and support. I will be following and hopefully contributing to the project at some point. Take care!

[2020-10-15 23:48] #87 closed

[2020-10-25 17:48] ProfessorSalty opened #88 "[BUG] Role fails with "AnsibleUndefinedVariable: 'dict object' has no attribute 'systemd'""
Sorry if I'm missing something obvious here but I'm new to Ansible. I'm running into an issue doing a dry run of this role.

**Describe the bug**
When running the role (with `--check') on a new Ubuntu 20.04 VM in Proxmox, it fails on `timesyncd.conf` with `AnsibleUndefinedVariable: 'dict object' has no attribute 'systemd'`.

**To Reproduce**
Build a brand new Ubuntu 20.04 VM and do a dry run (`--c

[2020-10-26 08:37] konstruktoid commented on #88
Hi @ProfessorSalty, thanks for reporting the issue. I'll have a look at it, but I assume it was meant to be opened in https://github.com/konstruktoid/ansible-role-hardening

[2020-10-26 09:25] konstruktoid commented on #88
Since the `--check` doesn't actually change anything, the custom facts directories and files aren't created. This results in the `ansible_local.systemd.version` and related facts are missing.

[code]

The `--check` will also fail on anything that requires some kind of interaction:

[code]

[2020-10-26 14:41] ProfessorSalty commented on #88
Ah, yes, I suppose this is the wrong repo. Sorry about that. I appreciate you taking your time out for the explanation - it looks like I can't just blindly check my tasks, so I'll have to modify my config to account for missing facts. Thanks so much!

[2020-10-26 14:41] #88 closed

[2020-11-18 19:51] JtheDBA opened #89 "08_fstab line 13 quick fix"
Probably doesn't need a pull request, but /var/tmp expression needed added to line 13.

If /var/tmp is in fstab it need to be removed on line 13 else when the check and adds on lines 31-33 will result in two /var/tmp mounts in /etc/fstab

grep -v -E '[[:space:]]/boot[[:space:]]|[[:space:]]/home[[:space:]]|[[:space:]]/var/log[[:space:]]|[[:space:]]/var/log/audit[[:space:]]|[[:space:]]/var/tmp[[:spa

[2020-11-19 09:34] konstruktoid commented on #89
Thanks @JtheDBA, commited in https://github.com/konstruktoid/hardening/commit/8a0e34c4bba6d6dd02a9a5b2caa67a9bb59111e8

[2020-11-28 23:53] JtheDBA commented on #89
Verified commit 8a0e34c. Issue resolved.

[2020-11-28 23:53] #89 closed

[2020-11-29 01:18] JtheDBA opened #90 "net-tools package has to be installed"
This, again, likely does not need a pull request.

The default installation of Ubuntu server does not include the package `net-tools` so the hardening/ubuntu.sh script fails immediately. A simple `apt install -y net-tools`  is all that is needed.

I am using a VirtualBox VM and installing from the `ubuntu-20.04.1-live-server-amd64.iso` disc using all defaults except for the partitioning where I us

[2020-11-29 16:55] konstruktoid commented on #90
Hi again,
This should be catched by https://github.com/konstruktoid/hardening/blob/master/ubuntu.sh#L22-L34.

[2020-11-29 17:00] #90 closed

[2021-01-21 13:16] renovate[bot] opened #91 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 15:00] #91 closed

[2021-02-19 23:00] github-actions[bot] opened #92 "[ACTION] Linting failed"
:

[2021-02-19 23:03] #92 closed

[2021-03-12 08:45] bugb commented on #23
Nice! Thanks a lot @konstruktoid konstruktoid c

[2021-04-01 01:18] fentonfentonfenton commented on #83
I forgot to thank you! Thank you 👍

[2021-07-26 08:48] frederikbosch opened #95 "[QUESTION] VM rebooted during apt update"
I have a hardened 18.04 machine, made more than a year ago @ commit bd559d812c51514023b1f36f400140d2c301e36e. Last week there were [two security updates for systemd](http://changelogs.ubuntu.com/changelogs/pool/main/s/systemd/systemd_237-3ubuntu10.50/changelog), and this caused my VMs to be rebooted. I believe it was the udev/libudev update that caused the reboot. But by what setting is getting tr

[2021-07-26 15:35] konstruktoid commented on #95
Hi @frederikbosch
Did the host reboot or halt? It could be the audit configuration that triggers a halt when then disk gets full.

[2021-07-26 15:43] frederikbosch commented on #95
Hi @konstruktoid. Nope, it was the update of either udev or libudev that triggered the reboot. So I found out that udev is the device manager for the Linux kernel. Maybe updating the package causes the devices to be reloaded which is not allowed by the audit configuration?

[2021-07-26 17:24] konstruktoid commented on #95
The audit system could cause a halt if the log partition gets full.
Otherwise I would check the `needrestart` configuration, but that shouldn't cause a reboot.

Any pre-reboot logs or dmesg messages?

[2021-08-25 04:42] renovate[bot] opened #96 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

This repository currently has no open or pending branches.

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-26 09:23] GordonSasha opened #97 "rsyslog : imudp: Could not create udp listener"
Hi Thomas,
you are making a great job - thank you very much.
I have installed the version v1.0.0 on our device and now testing the
functionality of all the features under hardening. I am currently
investigating the syslog problem and cannot figure out
what is happening. I would be very grateful if you can help me with this.

Problem:
=======
rsyslog imudp plugin can't create udp listener
/*-------

[2021-08-31 00:45] #95 closed

[2021-09-05 07:17] GordonSasha commented on #97
Sorry for the delay and silence. I was ill.
At your request,
[rsyslog_config.zip](https://github.com/konstruktoid/hardening/files/7111093/rsyslog_config.zip)
 sending you syslog configuration files
Sorry again and thanks in advance

[2021-09-05 14:01] GordonSasha opened #98 "[BUG]: grub-efi-amd64-signed package post-installation script subprocess returned error exit status 32"
**Describe the bug**

*during installation process the f_aptget() returns error:*

[code]

and after
[code]

**To Reproduce**
The system uses EFI:
[code]
I run the install script step by step, I mean function by function (f_pre () function always works). Every time I start, I change "ubuntu.sh" something like this:
Run 1:
[code]
Run 2:
[code]
So during the step 'aptget ...' :
[code]
I have an erro

[2021-09-05 14:54] konstruktoid commented on #98
Thanks for opening this issue.
Is it reproducible on other systems with the same configuration?

[2021-09-05 16:01] konstruktoid commented on #97
No need to apologise, glad you've gotten better.

I'll have a look at the config as soon as possible.

[2021-09-05 21:07] GordonSasha commented on #97
Thanks a lot for your help. I opened additional bug about apt error. But
look like I know what's a problem. I can check it only at the Thursday. We
on holiday s vacation
Thanks

On Sun, Sep 5, 2021, 19:02 Thomas Sjögren ***@***.***> wrote:

[2021-09-07 12:37] konstruktoid commented on #97
Check the `device` setting on ther servers. That one of the reason that error occured.

I also tested and got it working with a rewritten config file.

![image](https://user-images.githubusercontent.com/7956715/132345628-5a3187c7-0f61-49df-a1e7-bc307af2ae61.png)

[2021-09-09 08:11] GordonSasha commented on #97
Sorry for the delay and silence. I was ill.
At your request,
[rsyslog_config.zip](https://github.com/konstruktoid/hardening/files/7111093/rsyslog_config.zip)
 sending you syslog configuration files
Sorry again and thanks in advance

[2021-09-09 08:13] GordonSasha commented on #97
Hi, I found when problem is appearing. One of the apparmor profiles prevent to create UDP socket of the rsyslog. It happend in f_aa_enforce() function.

[2021-09-12 15:22] GordonSasha commented on #98
On other OS and Ubuntu versions I have not tested

[2021-09-12 15:25] GordonSasha commented on #98
But I saw as people talking about same problem and solution can be:
  $APT purge grub\*
  $APT install grub-efi
  $APT autoremove
  update-grub
in 10_aptget: f_aptget() . I will checked it

[2021-09-13 13:33] GordonSasha commented on #98
Looks like this solved the problem

[2021-09-13 13:43] konstruktoid commented on #98
This isn't actually an issue with this project but with the specified packages (https://bugs.launchpad.net/ubuntu/+source/dpkg/+bug/1871963) and the current disk layout (`mount: /var/lib/grub/esp: special device /dev/disk/by-id/mmc-S0J58X_0x158869a0-part1 does not exist.`

I can't really start guessing about disk layouts, partitions or if `grub` is to be purged (making systems unbootable), so I be

[2021-09-14 10:20] GordonSasha commented on #97
the solution is :
echo "capability net_raw," > /etc/apparmor.d/local/usr.sbin.rsyslogd

[2021-09-14 10:30] konstruktoid commented on #97
great catch, i can add that check if you don't want to submit a PR.
pushing upstream?

[2021-09-14 12:55] GordonSasha commented on #97
I think you can add it better than me.

[2021-10-01 13:06] Thumpermat opened #99 "Script 17_Packages: if the VM is a VirtualBox one, it installs the guest-utils 6.1.22, but we are already at 6.1.26"
Not sure if you can do anything about this as it is probably the package manager not having the latest version.

[2021-10-01 13:29] konstruktoid commented on #99
Yeah, not sure what I can do about that.
It's a bit odd though since https://github.com/konstruktoid/hardening/blob/master/scripts/10_aptget#L1-L13 updates the `apt` cache and 6.1.26 shouldn't be overwritten by a lower version.

[2021-10-05 09:46] acurrieclark opened #100 "admin-user-home vs admin_user_home"
https://github.com/konstruktoid/hardening/blob/47246cfcb18d6139e12ef9d68a39b5cafd9fe7d8/misc/audit-base.rules#L7

I am struggling with an issue where my audit.log is getting overloaded on a new server I am hardening.

In a previous version of this file, `admin-user-home` (hyphenated) was written as `admin_user_home` (underscored). I can't find any reference as to why this might be, and wondered if

[2021-10-05 13:35] konstruktoid commented on #100
Hi @acurrieclark, that was changed in https://github.com/konstruktoid/hardening/commit/e0af71f93ce4a8ccba0e391990b902a3079368fa approx 13 months ago.
Since https://github.com/konstruktoid/hardening/blob/master/misc/audit.header#L5-L6 flushes all rules before applying the new ones, the old key shouldn't be present.

[2021-10-05 16:36] acurrieclark commented on #100
Ah, I am sorry, I just misunderstood the meaning of the key. Thanks for getting back to me.

[2021-10-05 16:36] #100 closed

[2021-10-21 00:53] #97 closed, assigned to nobody

[2021-10-22 12:33] Thumpermat opened #101 "Question: how do you update the kernel after hardening?"
I used your packer to create a hardened ubuntu server. Now there is a linux kernel update, but because of the hardening the server doesn't get updated with the new kernel.

Which steps should I do in order to update the linux kernel and then harden the system again?

Looking forward to your reply.

[2021-10-22 21:33] #101 closed, assigned to nobody

[2021-11-07 00:48] #99 closed

[2021-11-29 06:05] Murugapk opened #102 "Unable to start Jenkins service in the ubuntu ..."
Unable to start Jenkins and getting the below error ... Also there is no error or issue found in jenkins log

journalctl -xe
Nov 29 06:01:53 ip-172-31-45-93 systemd[1]: Starting LSB: Start Jenkins at boot time...
-- Subject: Unit jenkins.service has begun start-up
-- Defined-By: systemd
-- Support: http://www.ubuntu.com/support
--
-- Unit jenkins.service has begun starting up.
Nov 29 06:01:53 ip-1

[2021-11-29 09:31] konstruktoid commented on #102
Hi @Murugapk, I'll look into it but could you please provide some information on how you installed Jenkins?

[2021-11-29 09:33] Murugapk commented on #102
It worked fine for long time but its not working since yesterday ....

[2021-11-29 09:35] konstruktoid commented on #102
Okay, so what did you change yesterday?

[2021-11-29 09:39] Murugapk commented on #102
I changed the Jenkins permission from /etc/passwd from " uid=117(jenkins) gid=120(jenkins) groups=120(jenkins)
 " to jenkins:x:118:121:Jenkins,,,:/var/lib/jenkins:/bin/bash...

 As I got an open proxy issue from cloud account , I updated it ...

[2021-11-29 09:43] konstruktoid commented on #102
So you change the user and group ID for the `jenkins` user? Did you update all file permissions as well?

[2021-11-29 09:47] Murugapk commented on #102
yes , I updated the file permission for /var/log/jenkins directory

-rw-r--r-- 1 jenkins jenkins   9049 Oct 24 06:25 jenkins.log.6.gz
-rw-r--r-- 1 jenkins jenkins   7724 Nov  1 06:25 jenkins.log.5.gz
-rw-r--r-- 1 jenkins jenkins   8551 Nov  7 06:25 jenkins.log.4.gz
-rw-r--r-- 1 jenkins jenkins   7322 Nov 15 06:25 jenkins.log.3.gz
-rw-r--r-- 1 jenkins jenkins   5148 Nov 21 06:25 jenkins.log.2.gz
-r

[2021-11-29 09:57] konstruktoid commented on #102
This seems to be a general support issue to be honest, and you're not really giving any useful information from the logs or which steps you've performed to fix this before opening an issue.

Since the actual cause of the problem is that you changed the UID and GID of the Jenkins user and nothing really related to this repository, I'm going to close this issue.

[2021-11-29 09:57] #102 closed

[2022-02-13 23:35] azizonick commented on #23
@konstruktoid
Hey there, facing the same issue, systemctl doesnt stop doesn trigger the server however "sh jenkins stop" does, and when i kill it manually, systemctl command stucks and does not return back to shell on Centos 7

[2022-02-14 10:57] konstruktoid commented on #23
Hi @azizonick, this is a repository regarding ubuntu security and I don't have any real experience with jenkins on centos.
I wish you the best of luck finding an answer, but I think someone more focused on centos can provide a much better answer.

[2022-03-12 12:34] pg-29 commented on #23
Hi @konstruktoid
Getting the same error please help!

-- The result is failed.
Mar 12 12:31:31 ip-172-31-83-21.ec2.internal systemd[1]: Unit jenkins.service entered failed
Mar 12 12:31:31 ip-172-31-83-21.ec2.internal systemd[1]: jenkins.service failed.
Mar 12 12:31:31 ip-172-31-83-21.ec2.internal systemd[1]: jenkins.service holdoff time over, s
Mar 12 12:31:31 ip-172-31-83-21.ec2.internal systemd[

[2022-03-12 14:22] konstruktoid commented on #23
Yeah, it seems to have failed, but do you have any logs that state why it failed, and is that error actually caused by code in this repository?

[2022-03-12 16:05] pg-29 commented on #23
- Logs begin at Sat 2022-03-12 11:52:50 UTC, end at Sat 2022-03-12 16:04:55 UTC. --
Mar 12 12:15:46 ip-172-31-83-21.ec2.internal systemd[1]: Starting Jenkins Continuous Integration Server...
Mar 12 12:15:46 ip-172-31-83-21.ec2.internal jenkins[8563]: openjdk version "17.0.2" 2022-01-18 LTS
Mar 12 12:15:46 ip-172-31-83-21.ec2.internal jenkins[8563]: OpenJDK Runtime Environment Corretto-17.0.2.8.1 (

[2022-03-12 17:16] konstruktoid commented on #23
Are there any actual Jenkins logs? And how is this related to this repository?

[2022-04-30 01:48] KoenDG opened #118 "Unclear instructions on initial partitioning"
The instructions say this do create the following setup during initial installation:

=== Partition the system
[code]

However, the options provided by the installer doesn't allow for setting those flags during initial setup. Or at least: not that I've been able to find.

Second, Are these supposed to be GPT partitions or Logical Volumes? Most articles I'm finding say they're basically the same an

[2022-05-02 19:18] konstruktoid commented on #118
Hi @KoenDG and so sorry for the late reply.
1 - No, sorry to say you'll need to finalize the setup, log in and alter `/etc/fstab`.
2 - My personal preference is LVM, since it's easy to modify.
3 - Remove defaults mount flag and replace them with the recommended settings or your personal preference, e.g. `async`.
4 - Since https://github.com/konstruktoid/hardening/pull/114/files, `vfat` is no longe

[2022-05-03 19:25] KoenDG commented on #118
Hi, thanks for your detailed response. I saw these "default" options and no advice concerning it, that was my main motivator to ask.

Thanks for your time.

[2022-05-03 19:25] #118 closed

[2022-05-09 21:21] konstruktoid commented on #5
Thanks @rams3sh!
`ssh -i ./keys/id_rsa user@remote.host.org -v -o IdentitiesOnly=true` is the TL;DR

[2022-05-14 04:30] rams3sh opened #123 "Disabling Snap removal"
**Describe the bug**

This is not actually a bug.

I am trying to use hardening as part of EC2 Image Builder in AWS which is actually dependent on a service named AWS SSM agent running within the host instance. This is installed via snap and uninstalling snap apparently removes this agent. Logs snippet below from the output for reference.
[code]

**Additional context**
I would want to know which f

[2022-05-14 08:28] konstruktoid commented on #123
Hi @rams3sh and thanks for creating the issue.

To be honest, I don't exactly know what removes snap but there's a workaround described in the readme.

I'll have a look at creating a working AWS SSM version.

[2022-05-14 09:17] rams3sh commented on #123
Actually the provided solution would not work in this case, since it would  lead to snap uninstallation first and then later reinstallation of snap.  The SSM agent will be removed during this process which is a blocker for image building via EC2 Image Builder.

Throughout the process of hardening via the Image Builder, AWS SSM agent should be alive and talking to the service for feedbacks of compl

[2022-05-14 10:00] konstruktoid commented on #123
Yeah, but if you're using an AMI and running the script after the installation I believe the workaround does work.

Are you using Packer or something similar?

My plan is to sit down later today and write a Packer template

[2022-05-14 10:25] rams3sh commented on #123
So I use the EC2 image builder (in another words which acts as a packer / ansible in my case) orchestrating the entire hardening process.  This hardening script is one part of the complete workflow.

During the complete execution of the workflow, an agent (AWS SSM Agent) sits inside the AMI orchestrating and monitoring the status of each workflow step and reports back to the service. If AWS SSM ge

[2022-05-14 18:02] rams3sh commented on #123
## TL;DR

Removal of `apport` , `rsync` and `popularity-contest` leads to uninstallation of snapd resulting in removal of ssm agent.

## Long Version

I debugged the execution of the script and narrowed down the problem.

Used the below dirty script to identify the issue.  It recursively simulates the package removal and displays the package that would be removed.

[code]
Placed the above script a

[2022-05-14 20:04] konstruktoid commented on #123
Great work! Makes no sense to me why `apport` or `popularity-contest` is a dependency for `snapd`but here we are, will add a variable to fix this.

[2022-05-14 20:06] konstruktoid commented on #123
According to https://packages.ubuntu.com/focal/snapd there is no dependency.

[2022-05-14 20:14] rams3sh commented on #123
Thanks !!
I did check that site and I myself actually couldnt figure out why it's behaving the way it is .

I was using Ubuntu 20 LTS version for this.

[2022-05-14 20:19] konstruktoid commented on #123
Hmm, purging those doesn't remove snapd from me.

[code]

[2022-05-14 21:45] konstruktoid commented on #123
But you are correct, your code works  ¯\_(ツ)_/¯

[2022-05-14 23:10] konstruktoid commented on #123
I've added a Packer configuration with an installation script, see #124
I'll add a `snapd` variable soon.

[2022-05-15 04:20] rams3sh commented on #123
@konstruktoid . You are rite.  But this happens only during the execution of the complete script. It's weird , but thats how it functions.

Removing the package individually does not result in snap being removed.

[2022-05-24 10:26] zigotica opened #128 "[question] why is rsync uninstalled?"
Hello, first of all, thank you for this excellent tool.
Just curious on why `rsync` is uninstalled. I ave not seen any reasoning about this or any other packages. Do you have a link where I can learn more about it?
Thank you

[2022-05-24 10:45] konstruktoid commented on #128
Hi @zigotica and thank you.

There's no issues with the `rsync` _client_ per se (you can tunnel it over SSH), the issue is with `rsync --daemon` which is bundled.

See e.g
https://static.open-scap.org/ssg-guides/ssg-rhel8-guide-cis.html#xccdf_org.ssgproject.content_rule_service_rsyncd_disabled

[2022-05-24 11:51] #128 closed

[2022-05-24 15:14] bob-rove opened #129 "Is net.ipv4.tcp_timestamps=0 still relevant?"
I was going through all `sysctl` settings set by this tool and found an odd thing (in my personal opinion).

In the past this setting was relevant to protect from server uptime guessing. But since original sec issue was fixed in kernel 4.x,  is it still relevant to turn off timestamps?

To not duplicate words, I'd like to refer to a similar report of a similar tool:

https://github.com/dev-sec/ans

[2022-05-24 20:31] konstruktoid commented on #129
Hi @bob-rove and thanks for going through the settings, and you are absolutely correct. Will remove it so the upstream default is used.

In my defense, https://github.com/konstruktoid/hardening/commit/bc42f45b68cc1978a5c0424e35655512a30aaeb1 was commited some six months before the kernel update ;)

[2022-05-25 14:13] bob-rove commented on #129
@konstruktoid Wow, so awesome to see such a quick reaction! And thanks a mil for confirming the case 🙇

Indeed, the issue behind TCP timestamps has a long history of not being fixed as far as I can see through the publications all over the Internet. And it's actually pretty hard to determine whether timestamps should still be disabled despite being fixed in kernel. For example, it might be still b

[2022-05-25 15:29] konstruktoid commented on #129
Reading https://www.kernel.org/doc/Documentation/networking/ip-sysctl.txt, setting `2` will result on the old ("bad") way and I should probably add `net.ipv4.tcp_timestamps=1` in the future to ensure the recommended default it set.

[code]

Regarding `tcp_tw_reuse`: "it should not be changed without advice/request of technical experts", and since  `tcp_tw_reuse` and `ip_autobind_reuse` is the only

[2022-05-25 15:29] #129 closed

[2022-06-20 11:35] llouxi opened #140 "[BUG] Pam_tally config not working"
**Describe the bug**
Pam_tally2 counters are not automatically reset after unlock_time.
Accounts must be unlocked manually from cli.

**To Reproduce**
Try to login more than 5 times using a bad password, wait for unlock time and try logging in with the correct password.
The login will fail as pam_tally2 counter is not automatically reset by current config.

**Expected behavior**
Pam_tally2 counter

[2022-06-20 12:12] konstruktoid commented on #140
Hi @llouxi and thanks for opening this issue, I'll have a look at it as soon as possible.

[2022-06-20 16:32] konstruktoid commented on #140
When installing on Ubuntu 20.04.4, isn't `faillock` used instead?

[2022-06-21 09:22] llouxi commented on #140
Tested again on a fresh install, `faillock` is used on ubuntu 20.04.4 but common-auth is not configured properly so configuration seems partial for faillock.

Current issue is however valid on systems without faillock.

[2022-06-21 09:55] konstruktoid commented on #140
Will focus on `faillock` since `pam_tally2` isn't deprecated with `20.04`.

[2022-06-21 11:12] konstruktoid commented on #140
[code]

[code]

[2022-06-21 13:35] bob-rove opened #144 "[BUG] Buggy SERVERIP detection in ubuntu.sh"
**Describe the bug**

Command on [this line](https://github.com/konstruktoid/hardening/blob/master/ubuntu.sh#L39) returns empty string or a route option instead of server IP, resulting in incorrect PSAD setting in `/etc/psad/auto_dl` file.

**To Reproduce**
1. On fresh GCP VM and default route:
[code]
applying `./ubuntu.sh` produces following line in `/etc/psad/auto_dl` file:`    0;` due to:
[code

[2022-06-21 19:02] konstruktoid commented on #144
Hi @bob-rove and thanks for opening this issue.
Yeah, I haven't taken `initcwnd` et al into consideration and testing is done on Ubuntu so Debian might fail in multiple ways.

I haven't yet found a solution that works flawlessly.
Could you try `ip route get "$(resolvectl status | grep 'Current DNS Server' | awk '{print $NF; exit}')" | awk '{print $7; exit}'`?

`$WBIN -ih | awk '{print $3}' | head

[2022-06-22 10:01] llouxi commented on #140
thanks for the quick fix, tested and all good now

[2022-06-22 10:56] konstruktoid commented on #140
Merged.

[2022-06-22 13:56] bob-rove commented on #144
This seems to be working fine 👍

`ip route get 1.1.1.1 | awk '{print $7; exit}'` gives current server IP on both system.

The only issue with `resolvectl status` - on System 1 (Debian, GCP VM) it returns error:
[code]

This is probably because GCP and alike are used to provide internal DNS server on "meta" IP-address in `/etc/resolv.conf` and `systemd-resolved` service is disabled by default:
[cod

[2022-06-23 10:01] konstruktoid commented on #144
could you please test https://github.com/konstruktoid/hardening/pull/147?

[2022-06-23 14:08] bob-rove commented on #144
@konstruktoid tried.
I guess we should also account for nameservers with IPv6 addresses in the output. For example:
[code]
Considering this, should the tool also write both IPv4 & IPv6 `SERVERIP` entries in `/etc/psad/auto_dl` ? 🤔

[2022-06-23 15:17] konstruktoid commented on #144
yeah, good point.
`SERVERIP4`, `SERVERIP6` ain’t pretty but it’s a start.

[2022-06-27 09:29] konstruktoid commented on #144
I'm issues finding a environment with a working IPv6 set up, so this is still a WIP.

[2022-06-28 21:02] konstruktoid commented on #144
I'm going to merge #147 and then open a separate PR regarding IPv6 when I get it working.

[2022-06-28 21:03] #144 closed

[2022-07-05 23:16] Stealthr opened #150 "SSH breaks"
{{ tools.context.actor }}: {{ tools.context.sha }}
After running this script, you become unable to log into ssh, the port still works but nomatter what you put, it's always a Access Denied error, or max number of retries with always the right password

[2022-07-05 23:16] Stealthr commented on #150
VNC works perfect, but SSH just doesn't

[2022-07-05 23:20] konstruktoid commented on #150
Hi @Stealthr and thanks for reporting this.

Could you please include the `sshd` log with a failed login attempt?

[2022-07-05 23:33] Stealthr commented on #150
What do you mean?

[2022-07-06 08:04] konstruktoid commented on #150
what is the actual error message? can you paste a log with a  failed login attempt?
`sudo journalctl -r -u ssh`

[2022-07-06 15:55] #140 closed

[2022-07-06 15:56] #123 closed

[2022-07-09 00:54] Stealthr commented on #150
I physically cannot connect to the server, unless I remove the UFW rule, then I still really can't connect to it because I can't sign in. I'll send a lon in a sec @konstruktoid

[2022-07-09 01:16] Stealthr commented on #150
Jul 09 02:35:37 vmi855967.contaboserver.net sshd[3970]: Connection closed by invalid user support 179.60.147.74 port 30374 [preauth]
Jul 09 02:35:34 vmi855967.contaboserver.net sshd[3970]: Failed password for invalid user support from 179.60.147.74 port 30374 ssh2
Jul 09 02:35:32 vmi855967.contaboserver.net sshd[3970]: pam_unix(sshd:auth): authentication failure; logname= uid=0 euid=0 tty=ssh ruse

[2022-07-09 06:13] konstruktoid commented on #150
I assume that's a public server due to all various usernames logging in.

Have you added the user group of the user you're trying to log in with to `SSH_GRPS` and have you added the IP or IP-range the user is allowed to logged in from to `FW_ADMIN`?

[2022-07-09 11:50] Stealthr commented on #150
it's not even public, just realised people wee prob trying to bruteforce or smth, but it's irrelevant rn, idk what SSH_GRPS or how to add anything to it or what the oher thing is

[2022-07-09 21:00] konstruktoid commented on #150
If someone or something is able to connect to your server trying to bruteforce and login, then it's most likely public.

The two variables are described in the documentation: https://github.com/konstruktoid/hardening#configuration-options

[2022-07-14 15:46] konstruktoid commented on #150
Closing since the necessary options are described in the documentation.

[2022-07-14 15:46] #150 closed

[2022-08-11 07:27] w33ha-zxc opened #157 "Login Loop"
Hi @konstruktoid,

Executing the hardening procedure deletes the home directories for all the users on the system causing loops at the login window.

To Reproduce -
This issue seems to impact VMs created on HyperV, worked fine with Vmware Workstation.
1. Spin up a VM on HyperV with Ubuntu 22.04.
2. Execute the script.
3. Reboot the server.

executing mkhomedir_helper from recovery mode fixes the i

[2022-08-11 08:44] konstruktoid commented on #157
Hi again @w33ha-zxc,
I got no idea why a Ubuntu VM is different on Hyper-V than on AWS, VirtualBox or Workstation.
Did you use an official ISO?

I'll have to find a way to run Hyper-V and then try to debug this.

Can you get some kind of log when the accounts actually gets removed?

[2022-08-16 07:19] w33ha-zxc commented on #157
Hi @konstruktoid,

I was wondering the same.

I indeed downloaded the ISO twice from the official source, checked checksum just to double check.

Does the hardening script generate a log somewhere I can look at ? or else what I could do is re setup the VM, configure the auditd beforehand and then try executing the script for detailed logging on the actions the script performs

[2022-08-16 08:31] konstruktoid commented on #157
There's no log created by default, but in `ubuntu.cfg` change `VERBOSE` to `VERBOSE='Y'` and run `sudo bash -x ubuntu.sh &>logfilename`

[2022-08-19 13:56] w33ha-zxc commented on #157
Will try it out over the weekend and keep you posted.

[2022-09-14 09:57] bob-rove opened #167 "[BUG] Missing `/usr/sbin` in `PATH` results in `acct` log rotation failure in `/etc/cron.daily/acct`"
**Describe the bug**

Modified system `PATH` variable results in `/etc/cron.daily/acct` being unable to locate `/usr/sbin/invoke-rc.d`, which is reported to `/var/mail/root` with corresponding message:
[code]
This in turn results in `acct` log files not being fully rotated (process keeps writing to old file):
[code]

**To Reproduce**

Wait until scripts in `/etc/cron.daily` are run and see `/var/m

[2022-09-14 10:23] konstruktoid commented on #167
Thanks @bob-rove for reporting this, I'll have a look and fix as soon as possible.

[2022-09-14 11:36] konstruktoid commented on #167
I can't reproduce this, I'm using `cron.hourly` and manually running `test -x /usr/sbin/anacron || ( cd / && run-parts --report /etc/cron.hourly )` on both `focal` and `jammy`.

`/usr/sbin` should also be in your `$PATH`, it was added 3 months ago: https://github.com/konstruktoid/hardening/commit/5db5cbbb9c0659df6de88a49072dda65a5e5c4a0

[2022-09-16 11:12] bob-rove commented on #167
Oh, my apologies! I've been using 4 month's old version and forgot to look in master 🤦
Great it was fixed already! 🚀

[2022-09-16 11:12] #167 closed

[2022-09-16 11:41] bob-rove opened #170 "[BUG] logrotate fails with `duplicate log entry for /var/log/{wtmp,btmp}` error"
**Describe the bug**

`/usr/sbin/logrotate /etc/logrotate.conf` exists with the following error:

[code]

Worth noting that original issue seems to be coming from `logrotate` package: https://bugs.launchpad.net/ubuntu/+source/logrotate/+bug/1915759
(TLDR: maintainers seem to come to conclusion to comment out `/var/log/[bw]tmp { ... }` blocks in `/etc/logrotate.conf` and rely on their equivalents i

[2022-09-16 12:15] konstruktoid commented on #170
Thanks again @bob-rove, will have a look at it as soon as possible.

[2022-09-19 19:52] #170 closed

[2022-09-19 19:53] konstruktoid commented on #170
Updated the config file for logrotate @bob-rove to make it match upstream.

I believe https://bugs.launchpad.net/ubuntu/+source/logrotate/+bug/1915759 can be closed since an up-to-date Focal and Jammy don't include the duplicate code.

[2022-09-21 15:25] bob-rove commented on #170
Cool stuff, thanks @konstruktoid ! 🙌

[2022-09-25 15:18] w33ha-zxc commented on #157
Closing this out, the issue was fixed by upgrading Hyper-V patches it seems.

Unable to reconstruct the issue. Will reopen if needed be.

[2022-09-25 15:18] #157 closed

[2022-11-17 17:25] kodiakz opened #196 "[BUG]"
**Describe the bug**
Ubuntu 22.04 (Jammy) does not provide _aide.wrapper_ which is required by _config/aidecheck.service_

**To Reproduce**

- https://packages.ubuntu.com/jammy/all/aide-common/filelist
- https://packages.ubuntu.com/bionic/all/aide-common/filelist

**Expected behavior**
_aidecheck.service_ needs to be adjusted for Jammy

**System (lsb_release -a):**
[code]

[2022-11-17 17:46] konstruktoid commented on #196
Thanks @kodiakz, I'll have a look

[2022-11-17 20:05] konstruktoid commented on #196
Can you take a look at #197?

[2022-11-18 21:44] kodiakz commented on #196
Looks good to me, thx!

[2022-11-19 09:39] #196 closed

[2022-11-23 21:16] beepboop1234 opened #200 "[BUG] fstab gets replaced with only a few lines"
**Describe the bug**
Probably user error on my part. New 22.04 minimal install in proxmox. Set up partitions according to documentation (image attached). After running the ubuntu.sh script my fstab only contains:

[code]

Prior to script it contained:

[code]

First time this happened I assumed it was because I hadn't modified fstab to replace the "defaults" with nosuid, etc so I updated fstab to

[2022-11-24 00:27] konstruktoid commented on #200
Thanks for creating this issue @beepboop1234, I'll have a look into it.

[2022-11-29 10:34] konstruktoid commented on #200
So sorry for the late reply @beepboop1234 and you are correct.
The curtin installation sets `defaults 0 1` on all partitions which makes the script ignore it.

I've merged https://github.com/konstruktoid/hardening/pull/202, so can you try again?